{% extends 'base.html' %}

{% block content %}

<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">Iniciar sesión</h1>

                    <form method="post">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success w-100">
                            Ingresar
                        </button>
                    </form>

                    <p class="text-center mt-3">
                        ¿No tenés cuenta?
                        <a href="{% url 'account_signup' %}">
                            Registrate
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}