# Django
SECRET_KEY=django-insecure-cambiar-esta-clave-en-produccion
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Static / Media
STATIC_URL=/static/
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=media

# Auth redirects
LOGIN_REDIRECT_URL=/
ACCOUNT_LOGOUT_REDIRECT_URL=/

# Allauth
ACCOUNT_EMAIL_VERIFICATION=none
ACCOUNT_LOGIN_METHODS=username,email
ACCOUNT_ADAPTER=app.adapters.AccountAdapter
