{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="{% url 'index' %}">
            <img src="{% static 'img/icon/icon.jpg' %}" alt="Logo Patitas Vet" width="30" height="30">
            <span>Patitas Vet</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir menú de navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_catalogo' %}">
                        Catálogo
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto:index' %}">
                        Contacto
                    </a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">
                        Hola, {{ user.username }}
                    </span>
                </li>

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="btn btn-light btn-sm ms-lg-2" href="{% url 'nuevo_item' model='servicio' %}">
                        Agregar servicio
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-outline-light btn-sm ms-lg-2 mt-2 mt-lg-0"
                        href="{% url 'nuevo_item' model='producto' %}">
                        Agregar producto
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">
                        Salir
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">
                        Iniciar sesión
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-light btn-sm ms-lg-2" href="{% url 'account_signup' %}">
                        Registrarse
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>